@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');
@import 'tailwindcss';

@theme {
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;

  --color-dark: rgb(61, 56, 47);
  --color-light: rgb(159, 156, 149);

  --color-sub: rgb(234, 230, 220);
  --color-sub-dark: rgb(255, 245, 225);

  --color-important: rgb(255, 0, 0);

  --color-point: rgb(255, 166, 0);
  --color-point-dark: rgb(241, 149, 0);

  --color-dash-board: rgb(255, 255, 255);
  --color-dash-board-border: rgb(218, 212, 207);

  --color-main-board: rgb(253, 253, 253);
  --color-main-board-border: rgb(218, 212, 207);

  --color-normal: rgb(255, 255, 255);
  --color-normal-dark: rgb(248, 248, 248);

  --color-lock: rgb(245, 244, 241);
  --color-toggle: rgb(234, 230, 220);
  --color-share-like: rgb(245, 244, 241);

  --color-vote-section: rgb(248, 241, 227);
  --color-free-section: rgb(237, 237, 237);
  --color-notice-section: rgb(255, 217, 147);
  --color-peer-review-section: rgb(248, 241, 227);
  --color-planer-section: rgb(241, 240, 238);

  --color-kakao: rgb(254, 229, 0);
  --color-kakao-dark: rgb(232, 209, 2);

  --font-pretendard: 'Pretendard', 'sans-serif';

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  --radius-auth: 10px;
}

:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 14px;
}

@media (max-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

@layer utilities {
  .logo {
    color: var(--color-point, #ffa600);
    font-family: 'GumiRomanceTTF';
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .auth-button {
    @apply text-md rounded-auth flex w-full cursor-pointer items-center justify-center px-7 py-4 focus:outline-none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .box-shadow {
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.08);
  }

  .checkbox:checked::after {
    content: '✓';
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
